<!-- Header with Navigation -->
<header class="bg-gray-800 text-white p-4 sticky top-0 w-full">
    <!--bg-gray-800: background color gray, text-white: text white, p-4: padding 4-->
    <nav class="w-full flex items-center justify-between">
      <!-- w-full: full width, items-center: centering -->

      <!-- Left side Logo -->
      <a class="text-2xl font-bold hover:text-gray-300" href="/"
        >Climate Solutions</a
      >

      <!-- right side Menu -->
      <ul class="flex items-center space-x-6">
        <li><a class= "<%= (page == "/solutions/projects") ? 'btn active' : '' %>" href="/solutions/projects">View Projects</a></li>
        <!--
        <li><a class="btn btn-ghost" href="/about">About</a></li>
        -->
        <!--
        <li><a class="<%= (page == "/solutions/addProject") ? 'btn active' : '' %>" href="/solutions/addProject">Add Project</a></li>
        -->
        <li><a class= "<%= (page == "/about") ? 'btn active' : '' %>" href="/about">About</a></li>
        <% if (session && session.user) { %>
          <li class="relative">
            <details class="dropdown">
              <summary class="cursor-pointer">Account: <%= session.user.userName %></summary>
              <ul class="dropdown-content menu p-2 shadow bg-base-100 rounded-box text-sm  right-0">
                <li><a class="<%= (page == "/solutions/addProject") ? 'active' : '' %>" href="/solutions/addProject">Add Project</a></li>
                <li"><a class="<%= (page == "/userHistory") ? 'active' : '' %>" href="/userHistory">User History</a></li>
                <li><a href="/logout">Log Out</a></li>
              </ul>
            </details>
          </li>
        <% } else { %>
          <li class="relative">
            <details class="dropdown">
              <summary class="cursor-pointer">Account</summary>
              <ul class="dropdown-content menu p-2 shadow bg-base-100 rounded-box text-sm  right-0">
                <li><a class="<%= (page == "/login") ? 'active' : '' %>" href="/login">Login</a></li>
                <li><a class="<%= (page == "/register") ? 'active' : '' %>" href="/register">Register</a></li>
              </ul>
            </details>
          </li>
        <% } %>

      </ul>
    </nav>
  </header>